<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AutoScrollerView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B211B23D1D6ED6AD008FDF16</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B211B2511D6ED6AE008FDF16</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B211B25C1D6ED6AE008FDF16</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
